@font-face {
    font-family: Segoe;
    src: url("../resources/fonts/segoeui.ttf");
}

* {
    padding:0;
    margin:0;
}

body {
    padding:0;
}

.navbar-left h4 {
    font-family: "Segoe";
    color: white;
}

.panel-heading {
    background-color: dodgerblue !important;
    height:50px;
    padding: 0;
    padding-right:15px;
}

.container {
    padding:0;
}

.panel-body {
    display: block;
    margin:0px auto;
    width: 500px;
}