@font-face {
    font-family: Segoe;
    src: url("../resources/fonts/segoeui.ttf");
}
@font-face {
    font-family: "Segoe Bold";
    src: url("../resources/fonts/segoeuib.ttf");
}

* {
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #e8e9ec;
    font-family: Segoe;
}

#sidebar {
    position: fixed;
    height:100vh;
    width:250px;
    background : #1c77c3;
    color: white;
    padding-left: 15px;
    letter-spacing: 1.5px;
}

#companyName {
    margin-top: 5px;
    font-size: 1.5em;
    font-weight:bolder;
    cursor: pointer;
}

#docName {
    margin-top: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    font-size:20px;
}


#patientItem{
    margin-top: 30px;
    justify-content: space-between;
}

#diagnosticsItem{
    margin-left: 10px;
    margin-top:20px;
    font-weight: 100;
    letter-spacing: 2px;
    font-size:18px;
}

.sideItems {
    padding-left: 15px;
    margin-bottom: 20px;
    font-size:18px;
}

#container {
    margin-left:250px;
}

#header {
    height: 50px;
    width:100%;
    background: white;
    display: flex;
    color: #797979;
    justify-content: space-between;
}

#hospName {
    line-height: 50px;
    font-size: 25px;
    margin-left: 40px;
}

#logout  a{
    line-height: 50px;
    font-size:20px;
    margin-right: 15px;
    cursor: pointer;
    color: #797979;;
}

/*treat 1*/
#treat1{
    color: #797979;
    margin-left: 60px;
}

#treat1 .title{
    padding-top: 25px;
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
}

textarea {
    background: white;
    outline: none;
    color: #797979;
    resize: none;
    width:85%;
    height:80px;
    border:none;
    font-size: 15px;
    padding:10px;
}

input[type="submit"] {
    background-color: dodgerblue;
    border-radius: 28px;
    border: none;
    font-family: "Segoe Bold";
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    float: right;
    margin-top: 20px;
    margin-right: 14%;
}

/*treat 2*/
#treat2 {
    color: #797979;
    margin-left: 60px;
    height: 1000px;
}

.title {
    font-size:22px;
    margin-top:30px;
}

.dataContainer table td {
    width:20%;
}

.deactive {
    display: none;
}

.selected {
    font-family: "Segoe Bold";
}